go 1.21.0

use (
	./arrays_slices
	./concurrency
	./context
	./dependency_injection
	./dictionary
	./helloworld
	./integers
	./iteration
	./mocking
	./pointers_errors
	./reflection
	./select
	./structs_methods_interfaces
	./synced
)
